<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Home Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      
      <li>
        <a routerLink="/home" routerLinkActive="active">Todo List</a>
      </li>
      <li>
        <a routerLink="/add" routerLinkActive="active">Add Todo</a>
      </li>

    </ul>

  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

